@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Single+Day&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

body {
   font-family: 'Single Day', cursive;
   margin: 0;
   padding: 0;
   user-select: none;
   background-color: #f9f9f9;
   color: #333;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 20px;
}

header {
   background-color: #ff9999;
   color: #fff;
   padding: 20px;
   text-align: center;
   border-radius: 10px 10px 0 0;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 24px;
   font-weight: 700;
   font-family: 'Diphylleia', serif;
}

.heart-icon {
   font-size: 30px;
   margin-right: 10px;
   animation: heartBeat 1s infinite;
}

.hero {
   text-align: center;
   margin-bottom: 40px;
}

.hero h1 {
   font-size: 36px;
   margin-bottom: 10px;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
   font-family: 'Diphylleia', serif;
}

.hero p {
   font-size: 18px;
   color: #666;
}

.leaderboard {
   background-color: #fff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.leaderboard h2 {
   margin-top: 0;
   color: #ff9999;
   text-align: center;
   font-size: 24px;
   font-family: 'Diphylleia', serif;
   display: flex;
   align-items: center;
   justify-content: center;
}

.leaderboard h2 i {
   margin-right: 10px;
}

.leaderboard ol {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.category {
   margin-bottom: 30px;
}

.category h3 {
   margin-top: 0;
   color: #ff9999;
   font-size: 20px;
   padding-left: 10px;
   border-left: 5px solid #ff9999;
   font-family: 'Diphylleia', serif;
   display: flex;
   align-items: center;
}

.category h3 i {
   margin-right: 10px;
}

.no-left-margin {
   padding-left: 0;
   border-left: none;
}

.leaderboard-item {
   display: flex;
   align-items: center;
   background-color: #f9f9f9;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   transition: box-shadow 0.3s ease;
}

.leaderboard-item:hover {
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item-content {
   flex: 1;
}

.item-content h4 {
   margin-top: 0;
   color: #ff9999;
   font-size: 18px;
   font-family: 'Diphylleia', serif;
}

.result {
   font-size: 24px;
   font-weight: 700;
   color: #ff9999;
}

.word-list {
   list-style-type: none;
   padding: 0;
   margin: 0;
   display: flex;
   flex-wrap: wrap;
}

.word-list li {
   margin: 5px 10px 5px 0;
   font-size: 18px;
}

.count {
   font-weight: 700;
   color: #ff9999;
}

.emoji-leaderboard {
   width: 100%;
   border-collapse: collapse;
   text-align: center;
}

.emoji-leaderboard th,
.emoji-leaderboard td {
   padding: 10px;
   text-align: center;
   border-bottom: 1px solid #ddd;
}

.emoji-leaderboard th {
   background-color: #ff9999;
   color: #fff;
}

@media (max-width: 768px) {

   .emoji-leaderboard th,
   .emoji-leaderboard td {
      padding: 5px;
      font-size: 14px;
   }
}

@keyframes heartBeat {
   0% {
      transform: scale(1);
   }

   50% {
      transform: scale(1.2);
   }

   100% {
      transform: scale(1);
   }
}

.item-content canvas {
   max-width: 100%;
   height: auto;
}

footer {
   background-color: #ff9999;
   color: #fff;
   text-align: center;
   padding: 20px;
   margin-top: 40px;
   border-radius: 0 0 10px 10px;
   box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.weekly-hours:last-child {
   margin-bottom: 0px;
}
